<a href="https://colab.research.google.com/github/achalweise/sales-predictions/blob/main/Sales_Prediction_Part_2_(_Cleaning).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
filename = '/content/sales_predictions (1).csv'

df_sales_prediction =pd.read_csv(filename)
df_sales_prediction.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

1) How many rows and columns?

In [ ]:
df_sales_prediction.shape

(8523, 12)

2) What are the datatypes of each variable?

In [ ]:
df_sales_prediction.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

3) Are there duplicates? If so, drop any duplicates.

In [ ]:
df_sales_prediction.duplicated().any() #no duplicates

False

4) Identify missing values.

In [ ]:
df_sales_prediction.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

5) Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

In [ ]:
#Drop Item_Weight and Outlet_Size, enough missing data to remove columns
df_sales_prediction.drop(columns = ['Item_Weight', 'Outlet_Size'], inplace = True)

6) Confirm that there are no missing values after addressing them.

In [ ]:
df_sales_prediction.isna().sum() # columns removed

Item_Identifier              0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

7) Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent)

In [ ]:
#Item Fat Content Clean Up
df_sales_prediction['Item_Fat_Content'].value_counts()
df_sales_prediction.replace(['LF', 'Low Fat'],  inplace = True)
df_sales_prediction.replace(['reg', 'Regular'], inplace = True)
df_sales_prediction.replace(['low fat','Low Fat'], inplace = True)
df_sales_prediction['Item_Fat_Content'].value_counts()
df_sales_prediction.head()

  Item_Identifier Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0           FDA15          Low Fat  ...  Supermarket Type1         3735.1380
1           DRC01          Low Fat  ...  Supermarket Type2          443.4228
2           FDN15          Low Fat  ...  Supermarket Type1         2097.2700
3           FDX07          Low Fat  ...      Grocery Store          732.3800
4           NCD19          Low Fat  ...  Supermarket Type1          994.7052

[5 rows x 10 columns]

In [ ]:
df_sales_prediction['Item_Type'].value_counts()
df_sales_prediction['Outlet_Identifier'].value_counts()
df_sales_prediction['Outlet_Establishment_Year'].value_counts()
df_sales_prediction['Outlet_Location_Type'].value_counts()
df_sales_prediction['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

8) For any numerical columns, obtain the summary statistics of each (min, max, mean)

In [ ]:
df_sales_prediction.describe()

       Item_Visibility  ...  Item_Outlet_Sales
count      8523.000000  ...        8523.000000
mean          0.066132  ...        2181.288914
std           0.051598  ...        1706.499616
min           0.000000  ...          33.290000
25%           0.026989  ...         834.247400
50%           0.053931  ...        1794.331000
75%           0.094585  ...        3101.296400
max           0.328391  ...       13086.964800

[8 rows x 4 columns]